body {
   // background-image: url("../design-templates/kmhl.jpg"); //kmm
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    height: 3000px;
    background-position: top;
}
img{
	max-width:100%;
}
b, strong {
    font-weight: bold;
    font-family: open_sansbold;
}
.mg-top-20{margin-top:20px;}
.mg-top-20 .h-p-w {
    padding: 0 0 0 10px;
}
.text-xs-left { text-align: left; }
 .text-xs-right { text-align: right; }
 .text-xs-center { text-align: center; }
 .text-xs-justify { text-align: justify; }

 @media (min-width: $screen-sm-min) {
     .text-sm-left { text-align: left; }
     .text-sm-right { text-align: right; }
     .text-sm-center { text-align: center; }
     .text-sm-justify { text-align: justify; }
 }

 @media (min-width: $screen-md-min) {
     .text-md-left { text-align: left; }
     .text-md-right { text-align: right; }
     .text-md-center { text-align: center; }
     .text-md-justify { text-align: justify; }
 }

@media (min-width: $screen-lg-min) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}

//headder top
.site-logo, .navbar-toggle {
    margin-top: 20px;
}
.ht-sdw {
    padding: 0 0 20px 0;
}
 
//headder bottom
//Responsive navbar custom styles
.hb-sdw {
    background-color: $brand-primary;
}
.navbar-nav a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: center;
    max-width: 300px;
    margin: 4px auto;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff !important;
    font-weight: 300;
}
.navbar {
    margin: 0px; border: 0px; min-height: 0px;
}

//call us mobile
.call-us-btn-container {
    padding: 10px 0;
}

//contact-info md screen and smaller edits
.mb-contactInfo {
    .nav-tabs {
        margin-top: 30px;
        display: inline-block;
    }
    .md-txt-r  {
        display: none;
        width: auto;
        line-height: 1em;
        margin-left: -2px;
        vertical-align: middle;
        border: 1px solid #DDDDDD;
        padding: 5px 10px;            
    }  
}
.mb-contactInfo-content {
    display: inline-block;
    vertical-align: middle;
}


//contact-info large screen edits
.h-p-w{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border-left: 1px solid #CACACA;
    max-height: 84px;
    .ic-l  {
        display:inline-block;
        float:left;
        .glyphicon {
            font-size: 28px;
            color: #052E7D;
            margin-top:0px;
        }
    }
    .txt-r  {
        display: inline-block;
        float: left;
        line-height: 0.8em;
        margin: 6px 10px;
        .glyphicon {
            font-size: 28px;
            color: #052E7D;
        }
    }
}
.slider-con {
    position: relative;
}
//quote edits
.quote-col {
    position: absolute;
    z-index: 90;
    width: 330px;
    margin: 0 auto;
    right: 10%;
    top: 30px;
    
    h1 span.top, span.bottom {
        display: inline-block;
        width: 100%;
        font-size: 21.5px;
        font-size: 0.6em;
        float: left;
    }
    span.bottom {
        font-size: 13px;
        font-size: 0.36em;
    }
    h1.quote-title-wrp {
        display: inline-block;
        width: 100%;
        padding: 10px 5px;
        margin: 0px;
        @include gradient-horizontal(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0), 0%, 100%) 
    }    
    h2.free-quote-tag {
        padding: 10px 5px;
        margin: 0px;
        text-align: center;
        font-size: 21.22px;
        font-size: 1.516em;
        background-color: $brand-secondary;
        color: white;
        @include gradient-vertical(lighten($brand-secondary,20%), darken($brand-secondary,10%), 0%, 100%);
        margin-top: -3px;
    }
    .quote-field-con {
        background-color: rgba(0, 0, 0, 0.80);
        padding: 20px;
    }   
    .free-quote-tag span.icon {
        font-size: 30px;
        display: inline-block;
        vertical-align: middle;
    }
    h2.free-quote-tag span.txt {
        font-family: open_sansbold;
        text-transform: uppercase;
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
    }    
    .quote-field-con .form-control {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 0px;
        height: 40px;
        color: white !important;
    }
    .quote-field-con .form-control::-webkit-input-placeholder { color: white; }
    .quote-field-con .form-control:-moz-placeholder { color: white; }
    .quote-field-con .form-control::-moz-placeholder { color: white; }
    .quote-field-con .form-control:-ms-input-placeholder { color: white; }
    
    .form-group.cpt input {
        width: 150px;
        height: 40px;
        margin-left: 20px;
        background: transparent;
        border: 1px solid white;
    }
    .quote-wrp .wpcf7-captcha-captcha-778 {
        width: auto;
        height: 40px;
    }
    input.wpcf7-form-control.wpcf7-submit {
        height: 40px;
        width: 145px;
        text-transform: uppercase;
        color: white;
        @include gradient-vertical(lighten($brand-secondary,20%), darken($brand-secondary,10%), 0%, 100%);
        border: none;
    }
}
.dropdown-menu > li > a{
    padding:4px 4px;
    text-align:left;
    color: $brand-primary !important;
}
.flexslider {
    max-width: 100%;
    width: 100% !important;
    overflow: hidden;
}
.flexslider .slides img{
    min-height:400px;
    width:auto;
}
ul.slides {
    width: 980px;
    margin-left: -200px;
    height: 490px;
}

//XS ^^^^
///Small screen Custom styles
 @media (min-width: $screen-sm-min) {
    //desktop navigation custom
        .navbar a {
            border: 0px;
            //height: 60px;
           // padding-top: 31px !important;
            margin: 0px;
        }
        .navbar-collapse{
            padding:0px;
        }
        ul.slides {
            width: 100%;
            margin-left: 0px;
            max-height: 490px !important;
            img{
                width:1200px !important;
                height:auto;
                max-width: none;
            }
        }                

 }

 @media (min-width: $screen-md-min) {
    //desktop navigation custom
        .navbar a {
            //height: 90px;
        } 

        .navbar-default .navbar-nav > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        ul.slides {
            width: 100%;
            margin-left: 0px;
            max-height: 490px !important;
            img{
                width:1200px;
                height:auto;
            }
        }                        
 }

@media (min-width: $screen-lg-min) {
        //desktop navigation custom
        .navbar-default .navbar-nav > li > a {
            color: #777;
            padding-top: 30px;
            padding-bottom: 30px;
        }      
        ul.slides {
            max-height: 590px !important;
            width: 100%;
            margin-left: 0px;
            img{
                width:100% !important;
                height:auto;
            }
        }
}
